@model PROG6212_PART2_ST10396724.Models.Document

@{
    ViewData["Title"] = "Uploaded Documents";
}

<h2>Uploaded Documents</h2>

<table class="table">
    <thead>
        <tr>
            <th>File Name</th>
            <th>Uploaded Date</th>
            <th>Open</th>
        </tr>
    </thead>
</table>